<h1 style="text-align:center">Contact Our</h1>
<h1 style="text-align:center">Cusomter Support Center</h1><br>


<h3 style="text-align:center"> Contact Information<h3>
<p  style="text-align:center"> Please fill out your contact information below</p>





<div class>
  <form class="mx-auto col-10 col-md-8 col-lg-6" >
    <div class="form-group w-100">
      <label for="firstName" style = font-size:15px;>Name </label>
      <input type="text" class="form-control"  placeholder="Enter First Name"><br>
        
      <input type="text" class="form-control"  placeholder="Enter Last Name">
    </div><br>
  
    <div class="form-group w-100">
      <label for="email"  style = font-size:15px; >Email</label>
      <input type="email" class="form-control"  placeholder="Enter Email">
    </div> <br>
    <div class="form-group w-100">
      <label for="phone" style = font-size:15px;>Phone</label>
      <input type="tel" class="form-control"  placeholder="Enter Phone">
    </div> <br>
    <div class="form-group w-100">
      <label for="address"  style = font-size:15px;>Address</label>
      <textarea class="form-control"  rows="3" placeholder="Enter Address"></textarea>
    </div> <br>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </form>
</div>

<router-outlet></router-outlet>